extends layout

block content
	h1= title
	p Check these deets! #{title}

	#nav.home-header
		#nav2.feature-header
		#nav3.site-title
			#nav4.logo
				#nav5.logo-anchor
					#nav5.logo-wrapper
					#nav6.logo-anchor-copy
						h1 = title

	#spacer
	#display
		h2 Github User Information
		div(data-bind="foreach: issues")
			#user-info
				p#username(data-bind="text:username")
				img#gravatar(data-bind="attr: {src: gravatar}")
				br
				a#user-link(target="blank" data-bind="attr: { href: url}") Github Profile
			#user-content
				p#bio(data-bind="text:bio")
				p#followers(data-bind="text:followers")
				p#repos(data-bind="text:repos")
				p#company(data-bind="text:company")
				p#blog(data-bind="text:blog")			

