doctype html
html
  head
    title= title
    meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/app.css')   
    script(src='/javascripts/jquery/dist/jquery.js')
    script(src='/javascripts/knockout/dist/knockout.js')    
    script(src='/javascripts/github.js')
  body
    block content
